@using ProyectoFotoCore3.Models.Entities.Home.Model
@model HomeVMO

<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Inicio</h1>
</div>

<div class="row">

    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-primary shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                            Fotos
                        </div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800">@Model.Photos</div>
                    </div>
                    <div class="col-auto">
                        <i class="far fa-images fa-2x text-gray-300"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-success shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                            Sesiones
                        </div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800">@Model.Sessions</div>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-camera fa-2x text-gray-300"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-warning shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                            Apartados
                        </div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800">@Model.Sections</div>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-list-ol fa-2x text-gray-300"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>



<div class="row mg-top-xl">
    @*<div class="col s12 m9 l8 xl5">
        <div class="card">
            <div class="card-content" style="display:flex; text-align:center;">
                <div style="flex:auto">
                    <div style="margin-bottom: 16px;">
                        <span style="font-size:18px;">Fotos</span>
                    </div>
                    <div>
                        <buttom type="buttom" onclick="LoadPartial('modalUploadFotos', '@Url.Action("UploadModal","Foto")', 'GET');" class="btn waves blue lighten-1">Subir fotos</buttom>
                    </div>
                </div>
                <div style="flex:auto; border-left: 1px solid;">
                    <div>
                        <span style="font-size:18px;">Fotos subidas</span>
                    </div>
                    <div>
                        <span id="numFotos" style="font-size:38px;">
                            @Model.Photos
                        </span>
                    </div>
                </div>
                <a href="@Url.Action("Index","Participantes")" class="card-menu-title" id="btnParticipantes">Participantes</a>
            </div>
        </div>
    </div>*@

    @*<div class="col s12 m9 l8 xl5">
        <div class="card">
            <div class="card-content" style="display:flex; text-align:center;">
                <div style="flex:auto">
                    <div style="margin-bottom: 16px;">
                        <span style="font-size:18px;">Sesiones</span>
                    </div>
                    <div>
                        <a href="@Url.Action("Index","Sesion")" class="btn waves-effect waves-light blue lighten-1">Gestionar</a>
                    </div>
                </div>
                <div style="flex:auto; border-left: 1px solid;">
                    <div>
                        <span style="font-size:18px;">Sesiones creadas</span>
                    </div>
                    <div>
                        <span style="font-size:38px;">
                            @Model.Sessions
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>*@

    @*<div class="col s12 m9 l8 xl5">
        <div class="card">
            <div class="card-content" style="display:flex; text-align:center;">
                <div style="flex:auto">
                    <div style="margin-bottom: 16px;">
                        <span style="font-size:18px;">Apartados</span>
                    </div>
                    <div>
                        <a href="@Url.Action("Index","Apartado")" class="btn waves-effect waves-light blue lighten-1">Gestionar</a>
                    </div>
                </div>
                <div style="flex:auto; border-left: 1px solid;">
                    <div>
                        <span style="font-size:18px;">Apartados creados</span>
                    </div>
                    <div>
                        <span style="font-size:38px;">
                            @Model.Sections
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>*@
</div>

<div id="modalUploadFotos">

</div>

@section Scripts {

    <script src="~/js/Common/util.js"></script>
    <script>
        $(document).ready(function () {



        });
    </script>
}