@using ProyectoFotoCore3.Models.Entities.Home.Model
@model HomeVMO
    <div class="row mg-top-xl">
        <div class="col s12 m7 l8 xl5">
            <div class="card">
                <div class="card-content" style="display:flex; text-align:center;">
                    <div style="flex:auto">
                        <div style="margin-bottom: 16px;">
                            <span style="font-size:18px;">Fotos</span>
                        </div>
                        <div>
                            <buttom type="buttom" class="btn waves blue lighten-1">Subir fotos</buttom>
                        </div>
                    </div>
                    <div style="flex:auto; border-left: 1px solid;">
                        <div>
                            <span style="font-size:18px;">Fotos subidas</span>
                        </div>
                        <div>
                            <span style="font-size:38px;">
                                @Model.Sections
                            </span>
                        </div>
                    </div>
                    @*<a href="@Url.Action("Index","Participantes")" class="card-menu-title" id="btnParticipantes">Participantes</a>*@
                </div>
            </div>
        </div>
        <div class="col s12 m7 l8 xl5">
            <div class="card">
                <div class="card-content" style="display:flex; text-align:center;">
                    <div style="flex:auto">
                        <div style="margin-bottom: 16px;">
                            <span style="font-size:18px;">Sesiones</span>
                        </div>
                        <div>
                            <buttom type="buttom" class="btn waves blue lighten-1">Gestionar</buttom>
                        </div>
                    </div>
                    <div style="flex:auto; border-left: 1px solid;">
                        <div>
                            <span style="font-size:18px;">Sesiones creadas</span>
                        </div>
                        <div>
                            <span style="font-size:38px;">
                                @Model.Sections
                            </span>
                        </div>
                    </div>
                    @*<a href="@Url.Action("Index","Participantes")" class="card-menu-title" id="btnParticipantes">Participantes</a>*@
                </div>
            </div>
        </div>

        <div class="col s12 m7 l8 xl5">
            <div class="card">
                <div class="card-content" style="display:flex; text-align:center;">
                    <div style="flex:auto">
                        <div style="margin-bottom: 16px;">
                            <span style="font-size:18px;">Apartados</span>
                        </div>
                        <div>
                            <a href="@Url.Action("Index","Apartado")" class="btn waves-effect waves-light blue lighten-1">Gestionar</a>
                        </div>
                    </div>
                    <div style="flex:auto; border-left: 1px solid;">
                        <div>
                            <span style="font-size:18px;">Apartados creados</span>
                        </div>
                        <div>
                            <span style="font-size:38px;">
                                @Model.Sections
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

