@using ProyectoFotoCore3.Models.Enum
@using ProyectoFotoCore3.Models.Entities.Participantes.Model
@model ParticipanteVMO

@{
    var controller = "Participantes";
    var action = "Create";
    if (Model.StateView == StateViewEnum.Edicion) { action = "Edit"; }

}
<div class="col s12">
    <div class="card">
        <div class="card-title center-align title"><i class="material-icons iconTitle">person_add</i>Participante</div>
        <div class="card-content card-content-padding">

            <form id="formParticipante" asp-action="@action" asp-controller="@controller" data-ajax="true" data-ajax-method="post" data-ajax-confirm="Estás seguro?" data-ajax-success="response(data)">
                <div class="input-field">
                    @Html.TextBoxFor(x => x.Name)
                    @*<input type="text" name="name" id="name" />*@
                    <label for="Name"><i class="material-icons iconInput">person</i> Nombre</label>
                </div>
                <div class="input-field">
                    @Html.TextBoxFor(x => x.Contact)
                    @*<input type="text" name="contact" id="contact" />*@
                    <label for="Contact"><i class="material-icons iconInput">contact_mail</i>Contacto</label>
                </div>
                <div class="input-field">
                    @Html.TextBoxFor(x => x.Urlcontact)
                    @*<input type="text" name="urlContact" id="urlContact" />*@
                    <label for="UrlContact"><i class="material-icons iconInput">attachment</i>Url Contacto</label>
                </div>
                @Html.HiddenFor(x => x.Id)
                @if (Model.StateView == StateViewEnum.Nuevo)
                {
                    <button type="button" class="btn green waves-effect waves-darken" id="btnSubmit">Añadir</button>
                }
                else
                {
                    <button type="button" class="btn green waves-effect waves-darken" id="btnSubmit">Modificar</button>
                }
            </form>
        </div>
    </div>
</div>

@*<script>
    $(document).ready(function () {
        debugger;
        var form = $("#formParticipante");
        form.removeData('validator');
        form.removeData('unobtrusiveValidation');
        $.validator.unobtrusive.parse("form");

        $("#btnSubmit").click(function () {
            $("#formParticipante").submit();
        });

        function response(data) {
            debugger;
            console.log(data);
        }
    })
</script>*@
