@using ProyectoFotoCore3.Models.Entities.Participantes.Model
@model List<ParticipanteVMO>

<div class="col s12">
    <div class="card">
        <div class="card-content">
            <table class="responsive-table tbpar">
                <thead class="tbpar">
                    <tr>
                        <th>Nombre</th>
                        <th>Contacto</th>
                        <th>Enlace</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody class="tbpar">
                    @if (Model.Any())
                    {
                        foreach (var participante in Model)
                        {
                            <tr>
                                <td>@participante.Name</td>
                                <td>@participante.Contact</td>
                                <td><a target="_blank" rel="" href="@participante.Urlcontact">@participante.Urlcontact</a></td>
                                <td hidden>@participante.Id</td>
                                <td><a href="@Url.Action("DeletePartner","PartnerWork",new { id = participante.Id})"><i class="material-icons" style="color:red; float:right">backspace</i></a></td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
