@using ProyectoFotoCore3.Models.Entities.Sesion.Model
@model SesionVMO

@{
    ViewData["Title"] = "Fotos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .grid-item {
        width: 250px;
    }
</style>
<div class="flex flex--space-between">
    <div>
        <h2>@Model.Nombre</h2>
    </div>
    <div class="flex flex--space-between">
        <button class="btn waves-effect waves-darken red" id="delete">Eliminar</button>
        <button class="btn waves-effect waves-darken green" id="order">Ordenar</button>
    </div>
</div>
<input type="hidden" id="IdSesion" value="@Model.Id" />
<div class="row" style="padding: 1rem 1.2rem;">
    <div class="col s12">
        <div class="grid">
            @if (Model.Fotos.Any())
            {
                @foreach (var foto in Model.Fotos)
                {
                    <div class="grid-item">
                        <div class="image-card" id="@foto.Id">
                            <div class="image-card-content">
                                <img class="image-card-img" src="@foto.UriAzure" />
                                <div class="foto-card-menu">
                                    <div class="icon-container width-50">
                                        @if (Model.IdFotoPreview.HasValue && Model.IdFotoPreview.Value == foto.Id)
                                        {
                                            <i id="preview_@foto.Id" class="material-icons icon-white">star</i>
                                        }
                                        else
                                        {
                                            <i id="preview_@foto.Id" class="material-icons icon-white">star_border</i>
                                        }
                                        <label id="label_@foto.Id" for="check_@foto.Id">
                                            <input type="checkbox" name="check_@foto.Id" id="check_@foto.Id" />
                                            <i class="material-icons icon-white" id="iconCheck_@foto.Id">check_box_outline_blank</i>
                                        </label>

                                        <i class="material-icons icon-red">favorite_border</i>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            }
            else
            {
                <h1>No hay fotos en esta sesión.</h1>
                <h2>Intenta subir unas cuantas.</h2>
            }
        </div>
    </div>
</div>



<!-- The Modal -->
<div id="modalPreview" class="modal-Preview">
    <span class="close">&times;</span>
    <img class="modal-content-Preview" id="imagePreview">
    <div id="caption"></div>
</div>

@section Scripts{
    <script src="~/js/Common/util.js"></script>

    <script>
        $(document).ready(function () {
            var $grid = $('.grid').masonry({
                // options...
                itemSelector: '.grid-item',
                columnWidth: 250
            });
            $grid.imagesLoaded().progress(function () {
                $grid.masonry('layout');
            });



            var origen;
            var flagImg = true;
            $(".image-card").on("dragover", function (e) {
                e.preventDefault();
                //Recogemos el id del origen
                if (flagImg) {
                    origen = $(this).attr('id');
                    flagImg = false;
                }
            }).on("drop", function (e) {
                e.preventDefault();

                var destino = $(this).attr('id');

                console.log("origen: ", origen);
                console.log("destino: ", destino);

                

                /* Intercambio de imagenes */
                ChangeAttr("#"+origen+" img", "#"+destino+" img", 'src');

                /* Intercambio de Ids */
                ChangeAttr("#" + origen, "#" + destino, 'id');

                /* Intercambio de estrellita */
                ChangeText("#preview_"+origen, "#preview_" +destino); 
                ChangeAttr("#preview_" + origen, "#preview_" + destino, 'id');

                ///* Intercambio de checkbox */
                ChangeProps("#check_" + origen, "#check_" + destino, "checked");

                ChangeAttr("#check_" + origen, "#check_" + destino, 'name');
                ChangeAttr("#check_" + origen, "#check_" + destino, 'id');

                ChangeAttr("#label_" + origen, "#label_" + destino, 'for');
                ChangeAttr("#label_" + origen, "#label_" + destino, 'id');

                ChangeAttr("#iconCheck_" + origen, "#iconCheck_" + destino, 'id');
                ChangeIconCheckBox("#check_" + origen);
                ChangeIconCheckBox("#check_" + destino);

                $grid.masonry('layout');
                flagImg = true;
            });



            $("#order").click(async function () {
                var formData = CreateFormData();

                var response = await $.ajax({
                    url: "@Url.Action("Ordenar","Foto")",
                    type: "POST",
                    contentType: false,
                    processData: false,
                    data: formData,
                    success: function (response) {
                        alert("Success");
                    }
                });

            });

            $("#delete").click(async function () {
                var idSesion = $("#IdSesion").val();
                var array = new Array();

                $.each($("[name^='check_']:checked"), function () {
                    array.push($(this)[0].name.split('_')[1]);
                });

                var formData = new FormData();
                formData.append("IdFotos", array);
                formData.append("IdSesion", idSesion);

                var response = await $.ajax({
                    url: "@Url.Action("DeleteFotos", "Foto")",
                    type: "POST",
                    contentType: false,
                    processData: false,
                    data: formData,
                    success: function (response) {
                        alert("Success");
                    }
                });

            });

            $("[name^='check_']").change(function () {
                var name = $(this)[0].name;

                ChangeIconCheckBox("[name="+name+"]");
            });

            $("[id^='preview_']").click(async function () {

                var completeId = $(this).attr("id");
                var id = completeId.split("_")[1];

                var bool = await PreviewPhoto(id);
                if (bool) {
                    $("[id^='preview_']").text('star_border');
                    $(this).text('star');
                }

            });

        });

        function ChangeAttr(selectorOrigen, selectorDestino, attr) {
            var origenImg = $(selectorOrigen).attr(attr);
            var destinoImg = $(selectorDestino).attr(attr);

            var elementoOrigen = $(selectorOrigen);
            var elementoDestino = $(selectorDestino);

            $(elementoOrigen).attr(attr, destinoImg);
            $(elementoDestino).attr(attr, origenImg);
        }

        function ChangeText(selectorOrigen, selectorDestino) {
            var origenImg = $(selectorOrigen).text();
            var destinoImg = $(selectorDestino).text();

            var elementoOrigen = $(selectorOrigen);
            var elementoDestino = $(selectorDestino);

            $(elementoDestino).text(origenImg);
            $(elementoOrigen).text(destinoImg);
            
        }

        function ChangeProps(selectorOrigen, selectorDestino, prop) {
            var origenImg = $(selectorOrigen).prop(prop);
            var destinoImg = $(selectorDestino).prop(prop);

            var elementoOrigen = $(selectorOrigen);
            var elementoDestino = $(selectorDestino);

            $(elementoDestino).prop(prop, origenImg);
            $(elementoOrigen).prop(prop, destinoImg);
            
        }

        function ChangeIconCheckBox(idCheckBox) {
            var element = $(idCheckBox)[0];
            var id = element.name.split("_")[1];
            var completeId = element.id;

            if ($("#" + completeId).prop("checked")) {
                $("#iconCheck_" + id).text("check_box");
            } else {
                $("#iconCheck_" + id).text("check_box_outline_blank");
            }
        }

        function ChangeName(selectorOrigen, selectorDestino) {
            var origenImg = $(selectorOrigen)[0].name;
            var destinoImg = $(selectorDestino)[0].name;

            $(selectorDestino)[0].name = origenImg;
            $(selectorOrigen)[0].name = destinoImg;
            
        }

        function ChangeFor(selectorOrigen, selectorDestino) {
            var origenImg = $(selectorOrigen)[0].for;
            var destinoImg = $(selectorDestino)[0].for;

            $(selectorOrigen)[0].for = destinoImg;
            $(selectorDestino)[0].for = origenImg;
        }

        function CreateFormData() {
            var array = new Array();

            $(".image-card").each(function () {
                array.push($(this).attr("id"));
            });
            var idSesion = $("#IdSesion").val();

            var formData = new FormData();
            formData.append("IdFotos", array);
            formData.append("IdSesion", idSesion);
            console.log(array);

            return formData;
        }

        async function PreviewPhoto(id) {
            var json = { "id": id };
            var bool = await SendForm("@Url.Action("PreviewImage", "Foto")", "GET", json);
            return bool;

        }



    </script>

}
